.comments {
  width: 90%;
  margin: 0 auto;
}

.comments-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 10px;
}

.main-comment-header {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
}

.comment-container {
  display: flex;
  flex-direction: column;
  background-color: #eaeaea;
  padding: 20px 40px 20px 40px;
  border-radius: 5px;
  border: 1px solid rgb(214, 214, 214);
}

.main-comment-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.main-comment-date {
  font-size: 16px;
  color: rgb(117, 117, 117);
}

.main-comment-author {
  font-size: 18px;
  font-weight: bold;
}

.main-comment-date {
  font-size: 14px;
}

.response-comments-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-top: 20px;
}

.response-comment-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
  margin-left: 10px;
  padding: 10px 0px 10px 20px;
}

.response-comment-container::after {
  content: "";
  left: -10px;
  position: absolute;
  height: 80%;
  width: 100%;
  border-left: 1px solid lightgray;
}

.response-comment-header {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
}

.response-comment-date {
  font-size: 12px;
  color: rgb(117, 117, 117);
}

.response-comment-author {
  font-size: 14px;
  font-weight: bold;
}

.response-comment-text {
  font-size: 14px;
}

.response-comment-date {
  font-size: 14px;
}

.new-main-comment-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  gap: 20px;
}

.label {
  font-size: 18px;
  font-weight: bold;
}

.new-comment-text {
  width: 100%;
  height: 100px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 15px 20px;
}

.reply-comment {
  cursor: pointer;
  margin: 10px 0px;
  font-size: 14px;
  color: rgb(6, 2, 51);
}

.reply-comment:hover {
  font-weight: bold;
}

.active {
  font-weight: bold;
}

.new-response-comment-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.new-response-comment-text {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 5px;
}

.hidden {
  display: none;
}
