form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 600px;
  background: rgb(240 240 240);
  padding: 40px;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 0.1) 0 0 8px -3px;
}

.contact-input {
  padding: 5px 10px;
  overflow-y: auto;
  border-radius: 5px;
  border: none;
  transition: 0.3s;
  width: 100%;
}

.contact-input:focus {
  outline: none;
  box-shadow: rgb(0 0 0 / 0.2) 0 0 15px -3px;
  border-left: 5px solid rgb(6 2 51);
}

#btn-login-user {
  border-radius: 5px;
  height: 50px;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 10px;
  transition: 0.3s;
  width: 100%;
}

textarea {
  height: 200px;
}

.title1 {
  margin-bottom: 0;
  font-size: 40px;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

button:disabled:hover {
  background-color: rgb(6 2 51);
}

@media (width <= 767px) {
  .contact {
    width: 95%;
  }
}

@media (768px <= width <= 1023px) {
  .contact {
    width: 95%;
  }
}

@media (width >= 1024px) {
}
