.footer {
  color: rgb(238, 238, 238);
  background: rgb(6, 2, 51);
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  position: relative;
}

.footer1 {
  display: flex;
  flex-direction: row;
  gap: 200px;
  align-items: center;
  padding: 50px 0px 50px 0px;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-network {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer a {
  color: rgb(238, 238, 238);
}

.logo-network a {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo-network img {
  width: 30px;
  height: auto;
}

.footer2 {
  border-top: 0.5px solid rgb(41, 41, 41);
  font-size: 11px;
  width: 100%;
  text-align: center;
  padding: 10px;
}

@media screen and (max-width: 767px) {
  .footer1 {
    gap: 20px;
    width: 80%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
}

@media screen and (min-width: 1024px) {
}
