.single-post {
  background: none;
  box-shadow: none;
  padding: 0;
}

form {
  display: flex;
  flex-direction: column;
  background: rgb(240 240 240);
  padding: 40px;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 0.1) 0 0 8px -3px;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.left {
  width: 80%;
  align-items: center;
}

#input-title {
  padding: 5px;
}

#textarea-chapo {
  min-height: 60px;
}

#textarea-text {
  min-height: 200px;
}

#input-title,
#textarea-chapo,
#textarea-text {
  padding: 30px;
  overflow-y: auto;
  border: none;
  transition: 0.3s;
  border-radius: 5px;
  width: 100%;
}

#input-title:focus,
#textarea-chapo:focus,
#textarea-text:focus {
  outline: none;
  box-shadow: rgb(0 0 0 / 0.2) 0 0 15px -3px;
  border-left: 5px solid rgb(6 2 51);
}

#btn-edit-post {
  border-radius: 5px;
  height: 50px;
  border: none;
  outline: none;
  font-size: 20px;
  padding: 10px;
  width: 100%;
}

.title-post-single {
  font-size: 30px;
  font-weight: bold;
}
.chapo-post-single {
  font-size: 20px;
}

.text-post-single {
  font-size: 14px;
}

.right-post {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info-post {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.container {
  display: flex;
  gap: 40px;
}

.title1-edit {
  border-bottom: 2px solid rgb(6 2 51);
  padding-bottom: 10px;
}
.container-title {
  position: relative;
  display: flex;
  width: 100%;
}

.label {
  position: absolute;
  left: 10px;
  top: 5px;
  z-index: 2;
  font-size: 12px;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

button:disabled:hover {
  background-color: rgb(6 2 51);
}

img {
  height: auto;
  width: 100%;
  border-radius: 5px;
  flex-shrink: 0;
}

@media (width <= 767px) {
  .single-post {
    width: 95%;
    margin-bottom: 80px;
  }

  .container {
    flex-direction: column;
  }

  .right {
    order: 1;
  }

  .left {
    order: 2;
    width: auto;
  }

  img {
    width: 80%;
    height: auto;
  }
}

@media (768px <= width <= 1023px) {
  .single-post {
    width: 95%;
    margin-bottom: 80px;
  }

  .container {
    flex-direction: column;
  }

  .right {
    order: 1;
  }

  .left {
    order: 2;
    width: auto;
  }

  img {
    width: 80%;
    height: auto;
  }
}

@media (width >= 1024px) {
}
