.post-container-single {
  background: none;
  box-shadow: none;
  padding: 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: rgb(240, 240, 240);
  padding: 40px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px -3px;
}

#input-title {
  padding: 5px;
}

#textarea-chapo {
  min-height: 60px;
}

#textarea-text {
  min-height: 250px;
}

#input-title,
#textarea-chapo,
#textarea-text {
  padding: 20px;
  overflow-y: auto;
  border-radius: 5px;
  border: none;
  transition: 0.3s;
}

#input-title:focus,
#textarea-chapo:focus,
#textarea-text:focus {
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 15px -3px;
}

#btn-edit-post {
  border-radius: 5px;
  height: 50px;
  border: none;
  outline: none;
  font-size: 20px;
  padding: 10px;
}

.title-post-single {
  font-size: 30px;
  font-weight: bold;
}
.chapo-post-single {
  font-size: 20px;
}

.text-post-single {
  font-size: 14px;
}

.right-post {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.nav-post {
  justify-content: start;
  gap: 5px;
}

.nav-post a {
  display: flex;
  justify-content: center;
  align-items: center;
}

#post-previous,
#post-next {
  width: 30px;
  text-align: center;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 200;
  margin-bottom: 30px;
  background-color: rgb(6, 2, 51);
  color: rgb(238, 238, 238);
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  transition: 0.3s;
}

.infos-post {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info-post {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
