.title-post-list {
  font-size: 22px;
  font-weight: bold;
}

.chapo-post-list {
  font-size: 16px;
}

.content-post-list {
  font-size: 12px;
}

.author-post-list,
.date-creation-post-list {
  font-size: 14px;
  color: rgb(185 185 185);
}

.posts-container-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
}

.post-container-list {
  display: flex;
  flex-direction: column;
  box-shadow: rgb(0 0 0 / 0.1) 0 0 8px -3px;
  border-radius: 5px;
  background: rgb(240 240 240);
  transition: 0.3s;
}

.post-container-list a {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.post-container-list:hover {
  transform: scale(1.01);
}

a {
  text-decoration: none;
  color: rgb(36 36 36);
}

img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.post-top {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post-bottom {
  display: flex;
  justify-content: space-between;
}

@media (width <= 767px) {
  .posts-container-list {
    display: flex;
    flex-direction: column;
  }
}

@media (768px <= width <= 1023px) {
}

@media (width >= 1024px) {
}
