.single-post {
  margin: 0 auto;
  width: 90%;
}

.nav-post {
  display: flex;
  justify-content: space-between;
}

#post-previous:hover,
#post-next:hover {
  transform: scale(1.03);
}

.header-post-single {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(240, 240, 240);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px -3px;
}

.header-post-single a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  text-align: center;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 200;
  background-color: rgb(6, 2, 51);
  color: rgb(238, 238, 238);
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  transition: 0.3s;
}

.post-container-single {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 40px 80px 40px 80px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px -3px;
  border-radius: 5px;
  background: rgb(240, 240, 240);
  margin-bottom: 40px;
}

.title-post-single {
  font-size: 40px;
  font-weight: bold;
}
.chapo-post-single {
  font-size: 24px;
}

.text-post-single {
  font-size: 18px;
}

.date-creation-post-single {
  display: flex;
  font-size: 14px;
  gap: 10px;
  align-items: baseline;
}

@media screen and (max-width: 767px) {
  .single-post {
    width: 95%;
  }

  .post-container-single {
    padding: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .single-post {
    width: 95%;
  }

  .post-container-single {
    padding: 20px;
  }
}

@media screen and (min-width: 1024px) {
}
